.bg-strategic-applications {
  background-image: url('../../../public/strategic-applications-background-mobile.png');
  background-size: cover;
  background-position: center;
}

@media (min-width: 640px) {
  .bg-strategic-applications {
    background-image: url('../../../public/strategic-applications-background.png');
  }
}
